{include file="public/setting"}
<style type="text/css">    
    .page-header-modifyUser{      	
        display: inline-block;      	
		float:left;      	
		width:65%;      	
		height:100%;        
		border-top:2px solid #eee;      
	}      
    .form-horizontal input{      	
        width:50%;      
	}      
	.form-group{      	
	    padding-left:20%;       
		padding-bottom:5%;      
	}      
	.public-btn{      	
		width:50%;      
	}      
	.mytable{      
		width:100%;      
	}      
	.mytable th,td{      	
		text-align:center;      	
		border:1px solid #eee;      
	}      
	.list-btn li{      	
		list-style:none;      	
		float:left;      	
		padding-left:5px;      
	}      
	.list-btn li input{      	
		width:80px;      
	}      
	.btn-pubilsh{        
		margin-top:2%;      
	}
	</style>
		<body>   <div class="page-header page-header-modifyUser">    <h3 style="font-weight:bold;">发布新选座</h3> 
		<div class="form-group">		    
		<label class="col-sm-2 control-label">学年</label>		    
			<div class="col-sm-10">				
			<select class="form-control public-btn" id="syear">                    
				<option value="0"></option>					
				<option value="1_1">2017-2018-第1学期</option>          
				<option value="1_2">2017-2018-第2学期</option>					
				<option value="2_1">2018-2019-第1学期</option>          
				<option value="2_2">2018-2019-第2学期</option>					
				<option value="3_1">2019-2020-第1学期</option>          
				<option value="3_2">2019-2020-第2学期</option>					
				<option value="4_1">2020-2021-第1学期</option>          
				<option value="4_2">2019-2020-第2学期</option>					
				<option value="5_1">2021-2022-第1学期</option>          
				<option value="5_2">2021-2022-第2学期</option>					
				<option value="6_1">2022-2023-第1学期</option>					
				<option value="6_2">2022-2023-第2学期</option>				
			</select>		    
			</div>		  
		</div>  		  
		<div class="form-group">  		    
			<label class="col-sm-2 control-label">开始时间</label>	  		    
				<div class="col-sm-10">	  		    
				<input type="text" class="layui-input public-btn" id="stimer" placeholder="yyyy-MM-dd HH:mm:ss">
				</div>  		  
			</div>  		    
			<div class="form-group">  		    
			<label class="col-sm-2 control-label">结束时间</label>	  		    
			<div class="col-sm-10">	  		        
			<input type="text" class="layui-input public-btn" id="etimer" placeholder="yyyy-MM-dd HH:mm:ss">	  		    
			</div>  		  
		</div>  		   
		<div class="form-group">  		    
			<label class="col-sm-2 control-label">使用范围</label>	  		    
			<div class="col-sm-10">		  		    
				<table class="table table-bordered">
                   <tr>
                      <th>id</th>
                      <th>自习室</th>
                      <th>数量</th>
                      <th>类别</th>
                   </tr>
                   {foreach name="roomdata" item="list"}
                   <tr>
                     <td>{$list.id}</td>
                     <td>{$list.room}</td>
                     <td>{$list.total}</td>
                     <td>
                        {if condition="$list.usage eq 1"}
                        <button class="layui-btn layui-btn-radius layui-btn-normal">考研</button>
                        {else/}
                        <button class="layui-btn layui-btn-radius layui-btn-warm">考证</button>
                        {/if}
                     </td>
                   </tr>
                   {/foreach}
				</table>
			   
			</div>	  	   
		</div>	  	  
		<center><button type="button" class="btn btn-success btn-pubilsh">发布</button></center>    
		</div>
	</body>
<script>
layui.use('laydate', function(){
  var laydate = layui.laydate;
  laydate.render({
      elem: '#stimer',
      type: 'datetime'
    });
  laydate.render({
      elem: '#etimer',
      type: 'datetime'
    });
});
</script>
<script type="text/javascript">   
		$(".btn-pubilsh").click(function(){   	   
			var syear    =$('#syear').val();       
			var stimer   =$('#stimer').val();       
			var etimer   =$('#etimer').val();       
       if(syear==''||stimer==''||etimer==''){
          layer.msg('内容填写不能空',{icon: 6, time: 2000});  
          return false; 
       }                    
	   $.ajax({            
	        url:'ADMIN/Setting/setday',           
			type:'POST',            
			data:{              
				syear:syear,              
				stimer:stimer,              
				etimer:etimer,                        
			},            
			dataType:'JSON',            
			success:function(res){              
			   location.href="ADMIN/Setting/history"; 
				/*if(res['code']>0){    
					layer.msg('发布成功',{icon: 1,time: 2000},);   
				}else{    
					layer.msg('发布失败',  { icon: 2, time: 2000 });    
					return false;              
				}          */  
			},           
			error:function(){               
				layer.msg('系统出错',{icon:5});              
				return false;            
			}          
			});    
		});    
</script>