{include file="public/header"}
<link rel="stylesheet" href="__PUBLIC__/mui/css/mui.min.css">
<style type="text/css">
        body{
       	    background-color: #fff;
       }
       .mui-bar{
       	    background-color: #fff;
       }
       .container{
       	    background-color: #fff;
       	    margin-top:12%;
       }
       .mui-card{
       	background-color:#F7F7F9;
       }
</style>
<body>
    <div class="mui-navbar-inner mui-bar mui-bar-nav">
		<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
			<span class="mui-icon mui-icon-left-nav"></span>
		</button>
		<h1 class="mui-center mui-title">历史信息</h1>
	</div>
	<div class="container">
	    <div class="mui-card">
			<div class="mui-card-header">2017-09-21&nbsp;&nbsp;星期三 07:30</div>
			<div class="mui-card-content">
				<div class="mui-card-content-inner">
					预约座位：分馆一&nbsp;81号
				</div>
			</div>
			<div class="mui-card-footer">状态：已签到</div>
		</div>
		<div class="mui-card">
			<div class="mui-card-header">2017-09-22&nbsp;&nbsp;星期四 07:30</div>
			<div class="mui-card-content">
				<div class="mui-card-content-inner">
					预约座位：分馆二&nbsp;65号
				</div>
			</div>
			<div class="mui-card-footer">状态：未签到</div>
		</div>
		<div class="mui-card">
			<div class="mui-card-header">2017-09-30&nbsp;&nbsp;星期一 12:40</div>
			<div class="mui-card-content">
				<div class="mui-card-content-inner">
					预约座位：分馆三&nbsp;12号
				</div>
			</div>
			<div class="mui-card-footer">状态：已签到</div>
		</div>
		<div class="mui-card">
			<div class="mui-card-header">2017-10-12&nbsp;&nbsp;星期五 14:40</div>
			<div class="mui-card-content">
				<div class="mui-card-content-inner">
					预约座位：分馆一&nbsp;08号
				</div>
			</div>
			<div class="mui-card-footer">状态：已签到</div>
		</div>
	</div>
	<!-- <nav style="text-align:center;font-size:10px;">————暂时没有历史————</nav> -->
	<!-- <nav style="text-align:center;font-size:10px;">————已经到底部————</nav> -->
</body>
<script src="__PUBLIC__/mui/js/mui.min.js"></script>