{include file="public/header"}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/mui/css/mui.min.css">
<style type="text/css">
		body{
		    background-color: #fff;
		}
        .mui-bar{
       	    background-color: #fff;
       }
       .mui-scroll-wrapper{
       	    margin-top:10%;
       }
       .mui-scroll ul{
       	    margin-top:5%;
       	    background-color:#DCDCDC;
       }
</style>
<body>
    <div class="mui-navbar-inner mui-bar mui-bar-nav">
		<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
			<span class="mui-icon mui-icon-left-nav"></span>个人
		</button>
		<h1 class="mui-center mui-title">关于图书馆</h1>
	</div>
	<div class="mui-page-content">
		<div class="mui-scroll-wrapper">
			<div class="mui-scroll">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a>联系电话<span class="mui-pull-right">0756-756031</span></a>
					</li>
					<li class="mui-table-view-cell">
						<a>开发人员<span class="mui-pull-right">Afterer</span></a>
					</li>
					<li class="mui-table-view-cell">
						<a href="#notifications" class="mui-navigate-right">问题反馈</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
<script src="__PUBLIC__/mui/js/mui.min.js"></script>