<style type="text/css">
    .mui-bar{
        background-color: #fff;
    }
    .nav-tabs
    {
        text-align: center;
        height: 35px;
        line-height: 40px;
        border-bottom-width:0px;
    }
    .nav-tabs .row li a{
        color:#747474;
        text-decoration: none;
    }
</style>
<div class="footer"><!-- 
<nav class="mui-bar mui-bar-tab">
		<a id="defaultTab" class="mui-tab-item mui-active" href="tab-webview-subpage-about.html">
			<span class="mui-icon mui-icon-home"></span>
			<span class="mui-tab-label">首页</span>
		</a>
		<a class="mui-tab-item" href="tab-webview-subpage-contact.html">
			<span class="mui-icon mui-icon-contact"></span>
			<span class="mui-tab-label">个人</span>
		</a>
</nav> -->
<div class="main_nav_bottom">
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container" align="center">
                <ul class="nav nav-tabs nav-tabs-justified">
                    <div class="row" align="center">
                        <div class="col-md-6 col-sm-6 col-xs-6" align="center">
                        <li class="home"><a href="APP_MAIN/Index/select"><span class="glyphicon glyphicon-home"></span>主页</a></li>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6" align="center">
                        <li class="user"><a href="APP_MAIN/Index/index"><span class="glyphicon glyphicon-user"></span>个人</a></li>
                        </div>
                    </div>
                </ul>
            </div>
        </nav>
</div>  
</div>
<script type="text/javascript">
     // mui.init();
    
</script>
</html>