<style type="text/css">
    .menu {
            display: block;
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 65px;
            color: #474747;
            padding-top: 10px;
            border-top: 1px solid #eee;
            background-color: #fff;
            font-size:14px;
        }

        .subMenu {
            width: 50%;
            float: left;
            height:100%;
            cursor: pointer;
        }

        .menu_name {
            height: 30px;
            width: 100%;
            line-height: 30px;
        }

        img.menu_img {
            height: 25px;
            width: 25px;
        }

        img {
            vertical-align: middle;
            border: 0;
        }

        .active {
            color: #FFA129;
            
        }

        .text-center {
            text-align: center
        }
</style>
<!--bottom-->
<div id="menu" class="menu">
    <div id="one" class="subMenu text-center" data-src="charger.html">
        <img src="__STATIC__/images/home.png" class="menu_img"/>
        <div class="menu_name">Home</div>
    </div>
    <div id="two" class="subMenu text-center">
        <img src="__STATIC__/images/user.png" class="menu_img"/>
        <div class="menu_name">User</div>
    </div>
</div>  
<script type="text/javascript">
    $("#one").click(function(){
        location.href='APP_MAIN/Index/Select';
        $(this).addClass("active");
    });
     $("#two").click(function(){
        location.href='APP_MAIN/Index/index';
        $(this).addClass("active");
    });
    
</script>
</html>