{include file="public/seat"}
<style type="text/css">
    .page-header-modifyUser{
      	display: inline-block;
      	float:left;
      	width:65%;
      	height:350px;
        border-top:2px solid #eee;
      }
      .form-horizontal input{
      	width:50%;
      }
      .form-group{
      	padding-left:20%;
      }
      .public-btn{
      	width:50%;
      }
     
</style>
<body>
    <div class="page-header page-header-modifyUser">
    <h3 style="font-weight:bold;">导出选座</h3>
       <form class="form-horizontal" role="form">
  		   <div class="form-group">
		    <label class="col-sm-2 control-label">学年</label>
		    <div class="col-sm-10">
				<select class="form-control public-btn" id="syear">
                    <option value="0"></option>
					<option value="1">2016-2017</option>
					<option value="2">2017-2018</option>
					<option value="3">2018-2019</option>
					<option value="4">2019-2020</option>
					<option value="5">2020-2021</option>
					<option value="6">2021-2022</option>
					<option value="7">2022-2023</option>
					<option value="8">2023-2024</option>
				</select>
		    </div>
		  </div>
		  <center>
      <button type="button" class="btn btn-primary btn-output">导出名单</button>
      </center>
	   </form>
    </div>
</body>
<script type="text/javascript">
   
   $(".btn-output").click(function(){
   	  var syear = $("#syear").val();
   	  window.location.href="ADMIN/Publish/excelOutput/syear/"+syear;
   });
</script>